* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #96866B;
}

header {
  background-image: url("immagini/natural.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 10px 0px 10px;
}
