* {
  margin: 0;
  padding: 0;
  background-color: #96866B;
}

header {
  background-image: url("immagini/natural.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 15px 15px 0px 15px;
  border: 10px solid white;
}

.menu {
  background-color: #504643;
  height: 30px;
  margin: 0 15px 15px 15px;
  position: relative;
}
